name: Java CI

on:
    push:
        branches:
            - "**"
    pull_request:

jobs:
    build-test:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v6

            - name: Set up JDK 21
              uses: actions/setup-java@v5
              with:
                  distribution: temurin
                  java-version: "21"
                  cache: maven

            - name: Build core package
              working-directory: ${{ github.workspace }}/spring-web-query-core
              run: mvn -B -ntp clean install -Dgpg.skip=true

            - name: Build spring-boot-starter
              working-directory: ${{ github.workspace }}/spring-boot-starter-web-query
              run: mvn -B -ntp clean package
