name: Snapshot Release
on:
    push:
      branches:
        - main
    workflow_dispatch:

jobs:
    release:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout
              uses: actions/checkout@v6
            
            - name: Set up JDK 21
              uses: actions/setup-java@v5
              with:
                distribution: temurin
                java-version: "21"
                cache: maven
                server-id: central
                server-username: MAVEN_CENTRAL_USERNAME
                server-password: MAVEN_CENTRAL_PASSWORD
                gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
                gpg-passphrase: GPG_PASSPHRASE
                
            - name: Release core package
              working-directory: ${{ github.workspace }}/spring-web-query-core
              run: mvn -B clean deploy
              env:
                GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
                MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
                MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
            - name: Release spring-boot-starter
              working-directory: ${{ github.workspace }}/spring-boot-starter-web-query
              run: mvn -B clean deploy
              env:
                GPG_PASSPHRASE: ${{ secrets.GPG_PASSPHRASE }}
                MAVEN_CENTRAL_USERNAME: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
                MAVEN_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}